{% extends 'Firstapp/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container" style="width:60%">
        <table class="table table-striped">
            <tr>
                <th>Company</th>
                <th>Model_Name</th>
                <th>Ram</th>
                <th>Rom</th>
                <th>Processor</th>
                <th>Price</th>
                <th>Weight</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for lap in lap_obj %}
            <tr>
                <td>{{lap.company}}</td>
                <td>{{lap.model_name}}</td>
                <td>{{lap.ram}}</td>
                <td>{{lap.rom}}</td>
                <td>{{lap.proc}}</td>
                <td>{{lap.price}}</td>
                <td>{{lap.weight}}</td>
                <td><a href="{% url 'upd' lap.id %}"><button class="btn btn-danger">Update</button></a></td>
                <td><a href="{% url 'del' lap.id %}"><button class="btn btn-warning">Delete</button></a></td>
            </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}

